:host {
  margin: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

mat-label {
  padding: .5rem;
}
input {
  height: 16px;
  width: 234px;
  border-radius: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.custom {
  border: 1px solid var(--accent-color);
  padding: 10px 0px 9px 14px;
  &:focus {
    outline: none !important;
    border: 2px solid var(--accent-color);
  }
}

mat-icon {
  margin-right: .75rem;
}

.icon-placeholder{
  display: inline-block;
  margin: 0 .5rem;
  width: 1rem;
  height: 1rem;
}

