
<mat-form-field appearance="{{ appearance }}" [style.width]="_colSize">
  <mat-label>{{ label }}</mat-label>
  <input
    class="{{ appearance === 'none' ? 'custom' : '' }}"
    [style.width]="inputWidth"
    #input
    color="primary"
    name="{{ name }}"
    autocomplete="off"
    type="{{ type }}"
    maxlength="{{ maxLength }}"
    matInput
    placeholder="{{ text }}"
    [formControl]="control"
  />
  <!-- <mat-icon *ngIf="icon" matPrefix>{{ icon }}</mat-icon> -->

  <mat-error *ngIf="control?.hasError('required')">
    {{ label.toUpperCase() }} field is required
  </mat-error>
</mat-form-field>
