<div class="container">
  <mat-icon class="sunny" aria-hidden="false" aria-label="Example home icon">wb_sunny</mat-icon>

  <form [formGroup]="themeGroup">
    <mat-slide-toggle formControlName="toggleTheme"></mat-slide-toggle>
  </form>

  <mat-icon aria-hidden="false" aria-label="Example home icon">brightness_4</mat-icon>
</div>
