<div class="app-delete--user">
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title class="title">Delete User</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <div class="content bold">
        Delete {{ data.type.toLocaleUpperCase() }}{{ " "
        }}{{ data.name.toLocaleUpperCase() }}{{ "?"
      }}
    </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-stroked-button color="warn" class="upper" [mat-dialog-close]="'dismiss'">cancel</button>
      <button mat-stroked-button color="primary" class="upper" [mat-dialog-close]="'confirm'">confirm</button>
    </mat-card-actions>
  </mat-card>
</div>
