<div *ngIf="data$ | async as data; else loading">
  <div class="app-detail--card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1 i18n>{{ data.type.toUpperCase() }}:</h1>
          <span i18n class="paint-green spacer-left title">{{
            data.name.toUpperCase()
          }}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content [ngSwitch]="data.type">
        <div class="display--container" *ngSwitchCase="'grower'">
          <div class="display--item">
            <span class="bold upper">address: </span
            ><span>{{ data.address }}</span>
          </div>
          <div class="display--item">
            <span class="bold upper">phone number: </span
            ><span>{{ data.phone_number }}</span>
          </div>
          <div class="display--item">
            <span class="bold upper">greenhouse locations: </span
            ><span
              *ngFor="let location of data.greenhouse_locations; let i = index"
              >{{ location
              }}{{
                i + 1 === data.greenhouse_locations.length ? "." : ", "
              }}</span
            >
          </div>
          <div class="display--item">
            <span class="bold upper">batches: </span
            ><span>{{ data.batches }}</span>
          </div>
          <div class="display--item">
            <span class="bold upper">yield acquired: </span
            ><span>{{ data.yield_acquired }}</span>
          </div>
        </div>
        <div class="display--container" *ngSwitchCase="'warehouse'">
          <div class="display--item">
            <span>Address: </span><span>{{ data.address }}</span>
          </div>
          <div class="display--item">
            <span>Phone: </span><span>{{ data.phone_number }}</span>
          </div>
          <div class="display--item">
            <span>Education: </span
            ><span>{{ data.educational_qualification }}</span>
          </div>
          <div class="display--item">
            <span>Years of experience: </span
            ><span>{{ data.years_of_experience }}</span>
          </div>
          <div class="display--item">
            <span>Inventory management certificate: </span
            ><span>{{
              data.inventory_management_certification ? "Yes" : "No"
            }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="app-detail--back-btn" (click)="goBack()">
    <mat-icon>chevron_left</mat-icon>
  </div>
</div>
<ng-template #loading><app-loading></app-loading></ng-template>
