:host {
  overflow: hidden;
}
.app-detail--back-btn {
  background-color: honeydew;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 10%;

  cursor: pointer;
  mat-icon {
    font-size: 70px;
  }
  &:hover {
    border: 1px solid var(--greenGoes);
    background-color: #888;
  }
}
.app-detail--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  mat-card {
    height: 50%;
    width: 85%;
  }
  .display--container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 860px;
    .display--item {
      width: 50%;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
