<div class="app-user--list" *ngIf="userData$ | async; else loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 i18n id="user-list--title">User List</h1>
        <span i18n class="paint-green spacer-left title">Page</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row app-user--list-controls">
        <div class="app-user--list-Btn">
          <button
            id="create-user--btn"
            mat-stroked-button
            (click)="createUser()"
          >
            <span i18n>Create User</span>
          </button>
        </div>
        <div class="app-user--list-filter-form">
          <form [formGroup]="form">
            <mat-checkbox class="bold" formControlName="filterToggle"
              >Filter</mat-checkbox
            >
            <mat-radio-group
              *ngIf="filterToggle.value"
              aria-labelledby="example-radio-group-label"
              formControlName="filterValue"
            >
              <div class="radio-container spacer-left">
                <mat-radio-button
                  [value]="'grower'"
                  (click)="applyGrowerFilter()"
                >
                  Grower
                </mat-radio-button>
              </div>
              <div class="radio-container spacer-left">
                <mat-radio-button
                  [value]="'warehouse'"
                  (click)="applyWarehouseFilter()"
                >
                  Warehouse
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </form>
        </div>
      </div>
      <div class="table--container">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header i18n
              >Name</mat-header-cell
            >
            <mat-cell *matCellDef="let user">
              <span class="upper">{{ user.name || "- - - - -" }}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header i18n
              >Phone</mat-header-cell
            >
            <mat-cell *matCellDef="let user">
              {{ user.phone_number || "- - - - -" }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header i18n
              >Type of User</mat-header-cell
            >
            <mat-cell *matCellDef="let user"
              ><span class="upper"> {{ user.type || "- - - - -" }}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="detail">
            <mat-header-cell *matHeaderCellDef mat-sort-header i18n
              >Detail</mat-header-cell
            >
            <mat-cell *matCellDef="let user">
              <button
                (click)="redirectTo(user.uuid)"
                class="detail-user"
                mat-button
              >
                <mat-icon>description</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="delete">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              i18n
            ></mat-header-cell>
            <mat-cell *matCellDef="let user">
              <button (click)="deleteUser(user)" class="delete-user" mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="visibleColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: visibleColumns"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #loading><app-loading></app-loading></ng-template>
