.app-user--list {
  mat-card {
    padding: 2rem;
  }
  mat-card-title {
    margin-bottom: 2rem;
  }
  mat-header-cell {
    font-size: 14px;
    font-weight: 600;
  }
  &-controls {
    height: 150px;
    flex-direction: column;
  }
  &-filter-form{
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  .radio-container {
    margin-top: 1rem;
  }
  .table--container {
    height: 280px;
    overflow: auto;
  }
  mat-row {
    cursor: pointer;
    &:hover {
      border: 1px solid var(--greenGoes);
      background-color: #888;
    }
  }
  .delete-user {
    &:hover {
      border: 2px solid var(--warn-color)
    }
  }
}


