.create-user-dialog--container {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  #create-user-dialog-title {
    margin-bottom: 1rem;
  }
  #userTypeSelect {
    width: 240px;
  }
}
