<div class="create-user-dialog--container">
  <div id="create-user-dialog-title" class="title txt-center">Sign up new user</div>
  <form [formGroup]="userTypeForm" autocomplete="off">
    <mat-form-field id="userTypeSelect" appearance="fill">
      <mat-label>Select type of user:</mat-label>
      <mat-select id="create-user-dialog--select" formControlName="userType">
        <mat-option *ngFor="let userType of userTypes" [value]="userType.value">
          {{ userType.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="signup-form" *ngIf="userType.value === 'grower'">
    <app-grower-form
      (statusDetailEvent)="receiveGrowerData.next($event)"
    ></app-grower-form>
    <button
      *ngIf="receiveGrowerData?.value?.status === 'VALID'; else elseBlock"
      mat-stroked-button
      color="primary"
      id="submit--grower"
      [mat-dialog-close]="submitGrower()"
    >
      <span i18n>Sign up Grower</span>
    </button>
    <ng-template #elseBlock>Fill all required data to sign up</ng-template>
  </div>
  <div class="signup-form" *ngIf="userType.value === 'warehouse'">
    <app-warehouse-form
    (statusDetailEvent)="receiveWarehouseData.next($event)"
    ></app-warehouse-form>
    <button
    *ngIf="receiveWarehouseData?.value?.status === 'VALID'; else elseBlock"
    mat-stroked-button
    color="primary"
    id="submit--warehouse"
    [mat-dialog-close]="submitWarehouse()"
  >
    <span i18n>Sign up Warehouse employee</span>
  </button>
  <ng-template #elseBlock>Fill all required data to sign up</ng-template>
  </div>
</div>
