:host {
  display: block;
  height: 3rem;
  border-radius: .75rem;
  background-color: #eee;
  width: 10rem;
  position: fixed;
  top: .5rem;
  right: 2rem;
}

.container {
  margin: auto;
  width: 80%;
  padding: 0.75rem;
}
