<form
  [formGroup]="warehouseForm"
  autocomplete="off"
  [style.margin-bottom.rem]="1"
>
  <app-input
    [name]="'name'"
    [colSize]="'md'"
    [inputWidth]="'250px'"
    [label]="'Name'"
    [control]="nameControl"
    [icon]="'account_circle'"
  ></app-input>
  <app-input
    [name]="'address'"
    [colSize]="'md'"
    [label]="'Address'"
    [inputWidth]="'250px'"
    [control]="addressControl"
    [icon]="'home'"
  ></app-input>
  <app-input
    [name]="'gender'"
    [colSize]="'sm'"
    [inputWidth]="'100px'"
    [label]="'Gender'"
    [control]="genderControl"
  ></app-input>
  <app-input
    [name]="'phone'"
    [colSize]="'sm'"
    [inputWidth]="'100px'"
    [label]="'Phone'"
    [control]="phoneControl"
  ></app-input>

  <app-input
    [name]="'years_of_experience'"
    [colSize]="'md'"
    [inputWidth]="'180px'"
    [label]="'Years of experience'"
    [type]="'number'"
    [control]="yearsExperienceControl"
  ></app-input>
  <app-input
    [name]="'educational_qualification'"
    [colSize]="'lg'"
    [inputWidth]="'220px'"
    [label]="'Educational qualification'"
    [control]="qualificationControl"
  ></app-input>
  <mat-checkbox
    class="certification"
    name="inventory_management_certification"
    formControlName="inventory_management_certification"
    >Inventory management certification</mat-checkbox
  >
</form>
