<form [formGroup]="growerForm" autocomplete="off" [style.margin-bottom.rem]="1">
  <app-input
    [name]="'name'"
    [colSize]="'md'"
    [inputWidth]="'250px'"
    [label]="'Name'"
    [control]="nameControl"
    [icon]="'account_circle'"
  ></app-input>
  <app-input
    [name]="'address'"
    [colSize]="'md'"
    [label]="'Address'"
    [inputWidth]="'250px'"
    [control]="addressControl"
    [icon]="'home'"
  ></app-input>
  <app-input
    [name]="'gender'"
    [colSize]="'sm'"
    [inputWidth]="'100px'"
    [label]="'Gender'"
    [control]="genderControl"
  ></app-input>
  <app-input
    [name]="'phone'"
    [colSize]="'sm'"
    [inputWidth]="'100px'"
    [label]="'Phone'"
    [control]="phoneControl"
  ></app-input>

  <app-input
    [name]="'batches'"
    [colSize]="'sm'"
    [inputWidth]="'150px'"
    [label]="'Batches Handled'"
    [type]="'number'"
    [control]="batchesControl"
  ></app-input>
  <app-input
    [name]="'yield'"
    [colSize]="'md'"
    [inputWidth]="'150px'"
    [label]="'Yield Acquired'"
    [type]="'number'"
    [control]="yieldAcquiredControl"
  ></app-input>
  <mat-form-field class="locations-list">
    <mat-chip-list
      #chipList
      aria-label="Fruit selection"
      formControlName="greenhouse_locations"
    >
      <mat-chip
        *ngFor="let location of locations"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(location, chipInput)"
      >
        {{ location }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        #chipInput
        name="green_house_locations"
        placeholder="Greenhouse Locations"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-error *ngIf="greenhouseLocationsControl?.hasError('required')">
      Greenhouse location field is required
    </mat-error>
    <!-- <mat-error *ngIf="greenhouseLocationsControl?.hasError('minLength')">
      At least one greenhouse location is required
    </mat-error> -->
  </mat-form-field>
</form>
